.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar-kiddo {
  background-color: #045699 !important;
}

.logo-kiddo {
  border-radius: 50%;
}

.nav-items-kiddo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items-kiddo .nav-item .nav-link {
  color: #ff7a0d;
}

.nav-items-kiddo .nav-item .nav-link:hover {
  color: #f7f7f7;
}

.nav-items-kiddo .login-button-kiddo .nav-link {
  background-color: #ff7a0d;
  color: #f7f7f7;
  border-radius: 5px;
}

.nav-items-kiddo .login-button-kiddo .nav-link:hover {
  color: #ff7a0d;
  background-color: #045699;
  border: 2px solid #ff7a0d;
}

main {
  background-color: #045699;
  color: #f7f7f7;
}

.presentation-kiddo aside h1,
h2 {
  color: #ff7a0d;
}

.menu-kiddo {
  width: 100%;
}

footer {
  background-color: #ff7a0d;
  color: #f7f7f7;
}

.logo-footer img {
  width: 100%;
  border-radius: 50%;
}

.mapa-container iframe {
  width: 100%;
}

.social-icons {
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #f7f7f7;
  margin-right: 10px;
  background-color: #045699;
  border-radius: 50%;
  text-align: center;
}

.social-icons:hover {
  color: #ff7a0d;
}

/*? Pagina de pedidos  */

.orders-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orders-container h1 {
  padding: 20px;
  margin: 30px 0px;
}

.orders-container p {
  font-size: 20px;
}

/*? Medias pagina home  */

@media (min-width: 768px) {
  .navbar-collapse {
    flex-grow: 0;
  }

  .logo-footer img {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .carousel-item img {
    height: 100vh;
  }

  .menu-kiddo {
    width: 700px;
    height: 1000px;
  }
}
